.bg-success {
    background-color: #018e27 !important;
    color: black !important;
}

/* btn-danger y bg-danger (rojo - Cancelar) */
.btn-danger,
.bg-danger {
    background-color: #ed5a5a !important;
    border-color: #ed5a5a !important;
    color: white !important;
}

/* bg-info (azul - Editar) */
.bg-info {
    background-color: #4534b6 !important;
    color: white !important;
}

/* bg-primary y btn-primary (morado - Nuevo evento, Notificaciones) */
.bg-primary,
.btn-primary {
    background-color: #9682f2 !important;
    border-color: #9682f2 !important;
    color: white !important;
}

/* Border-primary (input morado) */
.border-primary {
    border-color: #9682f2 !important;
}

/* Texto en tabs - Eventos */
.text-primary {
    color: #9682f2 !important;
}

/* Texto - Proveedores (gris oscuro) */
.text-dark {
    color: #303030 !important;
}

/* Border - gris claro */
.border-secondary {
    border-color: #9682F2 !important;
}

.centered-text-top {
    position: absolute;
    top: 8%;
    /* Ajusta este valor para controlar la distancia desde la parte superior */
    left: 50%;
    transform: translate(-50%, -20%);
    /* Centra horizontalmente y ajusta verticalmente según el valor de 'top' */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0 20px;
    /* Añade un poco de espacio alrededor del texto */
    color: white;
    /* Ajusta el color del texto según lo necesites */
    font-size: 1.2rem;
    /* Tamaño del texto ajustable */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.centered-text-top-register {
    position: absolute;
    top: 10%;
    /* Ajusta este valor para controlar la distancia desde la parte superior */
    left: 50%;
    transform: translate(-50%, -20%);
    /* Centra horizontalmente y ajusta verticalmente según el valor de 'top' */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0 20px;
    /* Añade un poco de espacio alrededor del texto */
    font-weight: bold;
}

.title {
    font-size: 1rem;
}

.sub-title {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* Controla la duración de la animación */
}

.visible {
    max-height: auto;
    /* Establece un valor máximo que se ajuste a tus campos */
    transition: max-height 0.9s ease-in;
    /* Controla la duración de la animación */
}

span {
    font-family: 'Montserrat', sans-serif;
}


.rounded {
    border-radius: 50% !important;
    /* Hace el botón redondo */
    width: 30px !important;
    /* Ancho del botón */
    height: 30px !important;
    /* Alto del botón */
    padding: 0 !important;
    /* Quitar padding interno para que sea un círculo perfecto */
}

/* Opcional: Cambiar el tamaño del ícono */
.btn-outline-danger i {
    font-size: 14px;
    /* Ajusta el tamaño del ícono dentro del botón */
}

.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.card-custom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-custom-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-custom-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #FF5722
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn-warning {
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px
}